<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('header') %>

    <div class="my-container">
        <div class="add-task-container">
            <h2 class="form-title">შექმენი ახალი დავალება</h2>
            <form method="post" action="/add-task">
                <div class="row mb-3">
                    <div class="col">
                        <label for="title">სათაური*</label>
                        <input type="text" id="title" name="name" class="form-control" minlength="2" required>
                        <small>მინიმუმ 2 სიმბოლო</small>
                        <small>მაქსომუმ 255 სიმბოლო</small>
                    </div>

                    <div class="col">
                        <label for="departments">დეპარტამენტი*</label>
                        <select id="departments" name="department" class="form-select">
                            <% departments.forEach(dep => { %>
                                <option value="<%= dep.id %>"><%= dep.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label for="desc">აღწერა</label>
                        <input type="text" id="desc" name="description" class="form-control" minlength="2" required>
                        <small>მინიმუმ 2 სიმბოლო</small>
                        <small>მაქსომუმ 255 სიმბოლო</small>
                    </div>

                    <div class="col">
                        <div class="custom-dropdown employee">
                            <p>პასუხისმგებელი თანამშრომელი</p>
                            <button type="button" class="dropdown-toggle" id="dropdown-btn-employee">
                                <img style="display: none" src="images/cat.jpeg" alt="Selected" id="selected-img">
                                <span style="margin-right: 5px" id="selected-text">აირჩიეთ</span>
                            </button>
                            <ul class="dropdown-menu employee">
                                <% employees.forEach(emp => { %>
                                    <li data-value="<%= emp.id %>">
                                        <img src="<%= emp.avatar %>" alt="profile">
                                        <span><%= emp.name %></span>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>

                        <!-- Hidden input to store selected value -->
                        <input type="hidden" name="employee" id="selected-employee">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="text-start">
                        <div class="col">
                            <div class="custom-dropdown priority">
                                <p>პრიორიტეტი</p>
                                <button type="button" class="dropdown-toggle priority" id="dropdown-btn-priority">
                                    <img src="#" style="display: none; " id="selected-icon" alt="icon">
                                    <span style="margin-right: 5px" id="selected-priority-text">აირჩიეთ</span>
                                </button>
                                <ul class="dropdown-menu priority">
                                    <% priorities.forEach(prior => { %>
                                        <li data-value="<%= prior.id %>">
                                            <img src="<%= prior.icon %>" alt="icon">
                                            <span><%= prior.name %></span>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>

                            <!-- Hidden input to store selected value -->
                            <input type="hidden" name="priority" id="selected-priority">
                        </div>
                        <div class="col">
                            <label for="status">სტატუსი*</label>
                            <select id="status" name="status" class="form-select">
                                <% statuses.forEach(stat => { %>
                                    <option value="<%= stat.id %>"><%= stat.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col deadline">
                        <label for="deadline">დედლაინი*</label>
                        <input type="date" id="deadline" name="date" class="form-control">
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="my-btn filled-btn">დავალების შექმნა</button>
                </div>
            </form>

        </div>
    </div>


    <script src="/js/main.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>