<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('header') %>

    <div class="my-container">
        <h3 class="page-title">დავალებების გვერდი</h3>

        <div class="dropdown-container">
            <div class="dropdown department">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    დეპარტამენტი
                </button>
                <div class="dropdown-menu p-3">
                    <form id="departmentFilter">
                        <% departments.forEach(dep => { %>
                            <div class="form-check">
                                <input class="form-check-input department-checkbox" type="checkbox" value="<%= dep.id %>" id="dep_<%= dep.id %>">
                                <label class="form-check-label" for="dep_<%= dep.id %>">
                                    <%= dep.name %>
                                </label>
                            </div>
                        <% }); %>
                        <div class="text-end">
                            <button type="submit" class="my-btn filled-btn">არჩევა</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Priority Filter -->
            <div class="dropdown priority">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    პრიორიტეტი
                </button>
                <div class="dropdown-menu p-3">
                    <form id="priorityFilter">
                        <% priorities.forEach(prior => { %>
                            <div class="form-check">
                                <input class="form-check-input priority-checkbox" type="checkbox" value="<%= prior.id %>" id="prior_<%= prior.id %>">
                                <label class="form-check-label" for="prior_<%= prior.id %>">
                                    <%= prior.name %>
                                </label>
                            </div>
                        <% }); %>
                        <div class="text-end">
                            <button type="submit" class="my-btn filled-btn">არჩევა</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Employee Filter -->
            <div class="dropdown employee">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    თანამშრომელი
                </button>
                <div class="dropdown-menu p-3">
                    <form id="employeeFilter">
                        <% employees.forEach(emp => { %>
                            <div class="form-check">
                                <input class="form-check-input employee-checkbox" type="checkbox" value="<%= emp.id %>" id="emp_<%= emp.id %>">
                                <label class="form-check-label" for="emp_<%= emp.id %>">
                                    <img src="<%= emp.avatar %>" alt="Avatar" class="avatar">
                                    <%= emp.name + ' ' + emp.surname %>
                                </label>
                            </div>
                        <% }); %>
                        <div class="text-end">
                            <button type="submit" class="my-btn filled-btn">არჩევა</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="selected">
            <div class="selected-container" id="selectedContainer">
            </div>
        </div>

        <div class="task-container">
            <div class="category-container category-todo" style="margin-right: 50px;">
                <div class="category-title">
                    <h6>დასაწყები</h6>
                </div>
                <% tasks.forEach(task => {
                    if(task.status.id == 1){ %>
                    <div class="task"
                         data-department-id="<%= task.department.id %>"
                         data-priority-id="<%= task.priority.id %>"
                         data-employee-id="<%= task.employee.id %>">
                        <a class="task-link" href="/task/<%= task.id %>">
                            <div class="top">
                                <div class="task-priority priority<%= task.priority.id %>" data-priority-id="<%= task.priority.id %>">
                                    <img src="<%= task.priority.icon %>" alt="Priority Icon">
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department" data-department-id="<%= task.department.id %>">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee" data-employee-id="<%= task.employee.id %>">
                                    <img src="<%= task.employee.avatar %>" alt="Employee Avatar">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p><%= task.total_comments %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
            <div class="category-container category-progress" style="margin-right: 50px;">
                <div class="category-title">
                    <h6>პროგრესში</h6>
                </div>
                <% tasks.forEach(task => {
                if(task.status.id == 2){ %>
                    <div class="task"
                         data-department-id="<%= task.department.id %>"
                         data-priority-id="<%= task.priority.id %>"
                         data-employee-id="<%= task.employee.id %>">
                        <a class="task-link" href="/task/<%= task.id %>">
                            <div class="top">
                                <div class="task-priority priority<%= task.priority.id %>" data-priority-id="<%= task.priority.id %>">
                                    <img src="<%= task.priority.icon %>" alt="Priority Icon">
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department" data-department-id="<%= task.department.id %>">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee" data-employee-id="<%= task.employee.id %>">
                                    <img src="<%= task.employee.avatar %>" alt="Employee Avatar">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p><%= task.total_comments %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
            <div class="category-container category-ready" style="margin-right: 50px;">
                <div class="category-title">
                    <h6>მზად ტესტირებისთვის</h6>
                </div>
                <% tasks.forEach(task => {
                if(task.status.id == 3){ %>
                    <div class="task"
                         data-department-id="<%= task.department.id %>"
                         data-priority-id="<%= task.priority.id %>"
                         data-employee-id="<%= task.employee.id %>">
                        <a class="task-link" href="/task/<%= task.id %>">
                            <div class="top">
                                <div class="task-priority priority<%= task.priority.id %>" data-priority-id="<%= task.priority.id %>">
                                    <img src="<%= task.priority.icon %>" alt="Priority Icon">
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department" data-department-id="<%= task.department.id %>">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee" data-employee-id="<%= task.employee.id %>">
                                    <img src="<%= task.employee.avatar %>" alt="Employee Avatar">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p><%= task.total_comments %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
            <div class="category-container category-done">
                <div class="category-title">
                    <h6>დასრულებული</h6>
                </div>
                <% tasks.forEach(task => {
                if(task.status.id == 4){ %>
                    <div class="task"
                         data-department-id="<%= task.department.id %>"
                         data-priority-id="<%= task.priority.id %>"
                         data-employee-id="<%= task.employee.id %>">
                        <a class="task-link" href="/task/<%= task.id %>">
                            <div class="top">
                                <div class="task-priority priority<%= task.priority.id %>" data-priority-id="<%= task.priority.id %>">
                                    <img src="<%= task.priority.icon %>" alt="Priority Icon">
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department" data-department-id="<%= task.department.id %>">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee" data-employee-id="<%= task.employee.id %>">
                                    <img src="<%= task.employee.avatar %>" alt="Employee Avatar">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p><%= task.total_comments %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
