<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('header') %>

    <div class="my-container task-info">
        <div class="row mb-3">
            <div class="col left">
                <div class="content">
                    <div class="top-categories">
                        <div class="task-priority <%= "priority" + task.priority.id %>">
                            <img src="<%= task.priority.icon %>" alt="icon">
                            <p><%= task.priority.name %></p>
                        </div>
                        <div class="task-department">
                            <p><%= task.department.name %></p>
                        </div>
                    </div>
                    <h6 class="page-title"><%= task.name %></h6>
                    <p class="desc"><%= task.description %></p>
                    <div class="task-details">
                            <h6>დავალების დეტალები</h6>
                            <div class="row mb-3" style="display: flex; align-items: center">
                                <div class="col">
                                    <div class="status">
                                        <ion-icon name="time-outline"></ion-icon>
                                        <p>სტატუსი</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <%= task.status.name %>
                                        </button>
                                        <ul class="dropdown-menu" style="width: 300px">
                                            <% statuses.forEach(stat => { %>
                                                <li><a class="dropdown-item" href="#"><%= stat.name %></a></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="employee">
                                        <ion-icon name="person-outline"></ion-icon>
                                        <p>თანამშრომელი</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="person">
                                        <img class="avatar" src="<%= task.employee.avatar %>" alt="profile">
                                        <div class="personal-info">
                                            <p class="department"><%= task.department.name %></p>
                                            <p class="name"><%= task.employee.name + " " + task.employee.surname %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="deadline">
                                        <ion-icon name="calendar-clear-outline"></ion-icon>
                                        <p>დავალების ვადა</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="deadline"><%= moment(task.due_date).locale('ka').format('ddd - DD/M/YYYY') %></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col right">
                <form action="/add-comment" method="POST" class="custom-form">
                    <div class="input">
                        <input type="hidden" name="task_id" value="<%= task.id %>">
                        <textarea id="comment" name="text" placeholder="დაწერე კომენტარი" required></textarea>
                        <button type="submit" class="my-btn filled-btn">დააკომენტარე</button>
                    </div>
                </form>

                <div class="comments-container">
                    <h5>კომენტარები <span>3</span></h5>
                    <div class="comment-section">
                        <% comments.forEach(comment => {
                            if(comment.task_id == task.id) { %>
                                <div class="comment">
                                    <img class="comment-avatar" src="<%= comment.author_avatar %>" alt="comment-profile">
                                    <div class="content">
                                        <h6><%= comment.author_nickname %></h6>
                                        <p><%= comment.text %></p>
                                        <button class="reply-btn" type="button"><ion-icon name="arrow-undo-outline"></ion-icon> უპასუხე</button>
                                        <form action="/add-reply" method="POST" class="custom-form reply-form">
                                            <div class="input reply-input">
                                                <input type="hidden" name="task_id" value="<%= task.id %>">
                                                <input type="hidden" name="parent_id" value="<%= comment.id %>">
                                                <textarea id="reply" name="text" placeholder="დაწერე კომენტარი" required></textarea>
                                                <button type="submit" class="my-btn filled-btn">დააკომენტარე</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            <% comment.sub_comments.forEach(reply => {%>
                                <div class="reply">
                                    <img class="comment-avatar" src="<%= reply.author_avatar %>>" alt="comment-profile">
                                    <div class="content">
                                        <h6><%= reply.author_nickname %></h6>
                                        <p><%= reply.text %></p>
                                    </div>
                                </div>
                            <% }); %>
                        <% }
                                }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
