<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('header') %>

    <div class="my-container">
        <h3 class="page-title">დავალებების გვერდი</h3>

        <div class="dropdown-container">
            <div class="dropdown department">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    დეპარტამენტი
                </button>
                <div class="dropdown-menu p-3">
                    <form id="filterForm">
                        <% departments.forEach(dep => { %>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="<%= dep.id %>">
                                <label class="form-check-label" for="<%= dep.name %>">
                                    <%= dep.name %>
                                </label>
                            </div>
                        <% }); %>
                        <div class="text-end">
                            <button type="submit" class="my-btn filled-btn">არჩევა</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="dropdown priority">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    პრიორიტეტი
                </button>
                <div class="dropdown-menu p-3">
                    <form id="filterForm">
                        <% priorities.forEach(prior => { %>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="<%= prior.id %>" id="<%= prior.name %>">
                                <label class="form-check-label" for="<%= prior.name %>">
                                    <%= prior.name %>
                                </label>
                            </div>
                        <% }); %>
                        <div class="text-end">
                            <button type="submit" class="my-btn filled-btn">არჩევა</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="dropdown employee">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    თანამშრომელი
                </button>
                <div class="dropdown-menu p-3">
                    <form id="filterForm">
                        <% employees.forEach(emp => { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%= emp.id %>>">
                            <label class="form-check-label">
                                <img src="<%= emp.avatar %>" alt="prof">
                                <%= emp.name + " " + emp.surname %>
                            </label>
                        </div>
                        <% }); %>
                        <div class="text-end">
                            <button type="submit" class="my-btn filled-btn">არჩევა</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="selected">
            <div class="selected-container">
                <div class="selected-item">
                    <p>მაღალი</p>
                    <button type="button" class="remove-item"><ion-icon name="close-outline"></ion-icon></button>
                </div>
                <div class="selected-item" style="border:none">
                    <button type="button" class="empty-btn">გასუფთავება</button>
                </div>
            </div>
        </div>

        <div class="task-container">
            <div class="category-container category-todo" style="margin-right: 50px;">
                <div class="category-title">
                    <h6>დასაწყები</h6>
                </div>
                <% tasks.forEach(task => {
                    if(task.status.id == 1){ %>
                    <div class="task">
                        <a class="task-link" href="/task">
                        <div class="top">
                            <div class="task-priority <%= "priority" + task.priority.id %>">
                                <img src="<%= task.priority.icon %>"></img>
                                <p><%= task.priority.name %></p>
                            </div>
                            <div class="task-department">
                                <p><%= task.department.name %></p>
                            </div>
                            <div class="task-date">
                                <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                            </div>
                        </div>

                        <div class="task-desc">
                            <p class="title"><%= task.name %></p>
                            <p class="short-desc"><%= task.description %></p>
                        </div>

                        <div class="bottom">
                            <div class="task-employee">
                                <img src="<%= task.employee.avatar %>">
                            </div>
                            <div class="task-comments">
                                <ion-icon name="chatbox-outline"></ion-icon>
                                <p>8</p>
                            </div>
                        </div>
                    </a>
                    </div>
                <% }
                });%>
            </div>
            <div class="category-container category-progress" style="margin-right: 50px;">
                <div class="category-title">
                    <h6>პროგრესში</h6>
                </div>
                <% tasks.forEach(task => {
                if(task.status.id == 2){ %>
                    <div class="task">
                        <a class="task-link" href="/task">
                            <div class="top">
                                <div class="task-priority <%= "priority" + task.priority.id %>">
                                    <img src="<%= task.priority.icon %>"></img>
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee">
                                    <img src="<%= task.employee.avatar %>">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p>8</p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
            <div class="category-container category-ready" style="margin-right: 50px;">
                <div class="category-title">
                    <h6>მზად ტესტირებისთვის</h6>
                </div>
                <% tasks.forEach(task => {
                if(task.status.id == 3){ %>
                    <div class="task">
                        <a class="task-link" href="/task">
                            <div class="top">
                                <div class="task-priority <%= "priority" + task.priority.id %>">
                                    <img src="<%= task.priority.icon %>"></img>
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee">
                                    <img src="<%= task.employee.avatar %>">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p>8</p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
            <div class="category-container category-done">
                <div class="category-title">
                    <h6>დასრულებული</h6>
                </div>
                <% tasks.forEach(task => {
                if(task.status.id == 4){ %>
                    <div class="task">
                        <a class="task-link" href="/task">
                            <div class="top">
                                <div class="task-priority <%= "priority" + task.priority.id %>">
                                    <img src="<%= task.priority.icon %>"></img>
                                    <p><%= task.priority.name %></p>
                                </div>
                                <div class="task-department">
                                    <p><%= task.department.name %></p>
                                </div>
                                <div class="task-date">
                                    <p><%= moment(task.due_date).locale('ka').format('DD MMM, YYYY') %></p>
                                </div>
                            </div>

                            <div class="task-desc">
                                <p class="title"><%= task.name %></p>
                                <p class="short-desc"><%= task.description %></p>
                            </div>

                            <div class="bottom">
                                <div class="task-employee">
                                    <img src="<%= task.employee.avatar %>">
                                </div>
                                <div class="task-comments">
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p>8</p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }
                });%>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
